body{ text-shadow: 1px 1px #000;}
.form{ border:2px solid black; background-color:rgba(100,20,60,0.5); padding: 50px 0px;  border-radius: 5px 30px 45px 60px; -moz-border-radius: 5px 30px 45px 60px;-webkit-border-radius: 15px;}
/*ESTA ES LA SECCION DEL HEADER*/
header{   
    background: url('http://st.depositphotos.com/1005200/4260/i/950/depositphotos_42607101-stock-photo-letters-wallpaper.jpg');
    background-position:  top center;
    background-repeat: no-repeat;
   background-attachment: fixed;
    background-size: cover;  
}
.degradado{ background-color:rgba(100,20,60,0.5); }
.hero .frase{ margin: 0 auto; padding:30px; width: 50%; color: white;}
.hero .frase h2{ font-size: 50px;}
.hero .numeros{  margin:0 -15px; color: white; padding: 80px 0px; }
.numeros input{ width: 50%; margin: 0 auto; text-align: center; }
.numeros label{ font-size: 18px; margin-bottom: 15px; }
.logo{  width: 30%; }
.btn_menu{ background: rgba(139,0,0,0.8); border:2px solid black; }
#salida{ color: white; width: 60%; margin: 0 auto; background: rgba(60,80,80,0.5); border:2px solid black; }
.alerta{ background-color:red; }
.alerta1{ background-color:green; }
/*ESTA  ES LA SECCION DEL FOOTER*/
footer{padding: 30px 0;}
footer .icon_footer{ font-size: 40px;color: rgb(220,20,60);}
footer .correo, footer .phone{color: rgb(220,20,60);}